<!doctype html>
<html lang="en">
  <head>
    <title>App Link Test</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="container">
      <h1>Home</h1>
        <p><a href="<%= @app_link %>">App link</a> with state: <%= @state %></p>
        
        <a href="https://a193-195-22-227-78.ngrok.io/redirect-ob-app">Page with redirect to App link</a>
        <br><br>
        <%# <a href="applink://a193-195-22-227-78.ngrok.io/ob-app">Deep link</a> %>
    </div>
  </body>
</html>