<!doctype html>
<html lang="en">
  <head>
    <title>App Link Test</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="container">
      <h1>Home</h1>
        <p><a href="<%= @app_link %>">App link</a> with state: <%= @state %></p>
        
        <a href="<%= @redirect_app_link %>">Page with redirect to App link</a>
    </div>
  </body>
</html>