<!doctype html>
<html lang="en">
  <head>
    <title>App Link Test</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="container">
      <h1>OB Page</h1>

      <p>ClientId: <%= @client_id %></p>
      <p>State: <%= @state %></p>
    </div>
  </body>
</html>